MonoBehaviour/Character.book.json
MonoBehaviour/Layer.book.json
MonoBehaviour/Macro.book.json
MonoBehaviour/Param.book.json
MonoBehaviour/Particle.book.json
MonoBehaviour/Sound.book.json
MonoBehaviour/Texture.book.json

*rad*
